#mainpage{

    height: auto;
    width: 100%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#cards{
    
    height: 380px;
    width: 260px;
    background-color: rgba(22, 22, 22, 0.575);
    border: 1px solid rgba(255, 0, 0, 0);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
    padding: 20px;
    transition: 0.6s;
    
}
#cards:hover{
    scale: 1.03;
}
#propic{
    text-align: center;
}
#prpc{
    margin-top: 5px;
    height: 100px;
    width: 100px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50px;

    box-shadow: 0px 0px 6px red;
}

button{
    margin: 5px;
    margin-top: 50px;
    height: 27px;
    width: 90px;
    background-color: red;
    box-shadow: 0px 0px 6px red;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
}

h1,h3,p{
    color: white;
}